<footer class="footer footer-center p-10 bg-base-200 text-base-content">
  <div class="grid grid-flow-col gap-4">
    <%= link_to '利用規約', terms_path, class: 'link link-hover' %>
    <%= link_to 'プライバシーポリシー', privacy_path, class: 'link link-hover' %>
    <%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLSdRR0kM23poA5Xa4-GUUFsXjO4dLNgHgITlpGV0XIjTKnOtuQ/viewform?usp=sf_link', class: 'link link-hover' %>
    <a class="link link-hover">開発者Twitter</a>
  </div> 
  <div>
    <p>Copyright © 2023 - All right reserved by tunari</p>
  </div>
</footer>