<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <%= link_to image_tag('logo.png', size: '200x100'), root_path %>
    <div class="flex-none md:mr-0 md:ml-auto">
      <ul class="menu menu-horizontal px-1">
        <li><%= link_to 'ゲストログイン', guest_login_path, data: { turbo_method: :post}, class: 'nav-link'  %></li>
        <li><%= link_to 'ログイン/会員登録', login_path, class: 'nav-link' %></li>
      </ul>
    </div>
  </div>
</header>