<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <%= link_to image_tag('logo2.png', size: '230x110'), root_path %>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <%= link_to "タイムライン", posts_path, class: 'mr-5 hover:text-gray-900' %>
      <%= link_to "投稿する", character_set_posts_path, class: 'mr-5 hover:text-gray-900' %>
    </nav>
    <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
      <%= link_to 'ログアウト', logout_path, class: 'dropdown-item', method: :delete, data: { turbo_method: :delete }  %>
    </button>
  </div>
</header>