<div class="flex flex-col items-center justify-center">
  <%= image_tag 'ツンあり.png', size: '400x300', class: 'my-3' %>
  <p class="text-xl my-3">ツンデレ感謝カードを伝ってみよう！！！</p>
  <p class="text-xl my-3">...？？🤔</p>
  <p class="text-xl my-3">こんな感じのツンデレカードが作れるよ！⤵︎</p>
  <%= image_tag 'ツンあり.png', size: '400x300', class: 'my-3' %>
  <p class="text-xl my-3">気になるあの子や仲良しあの子に送っちゃおう！</p>
  <div class="flex">
    <%= link_to 'ゲストログインする♡', guest_login_path, data: { turbo_method: :post}, class: 'mx-3 my-3 btn btn-outline btn-secondary'%>
    <%= link_to '会員登録する♡', new_user_path, class: 'my-3 btn btn-outline btn-secondary' %>
  </div>
</div>