<ul class='crud-menu-btn list-inline float-right'>
  <li class="list-inline-item">
    <%= link_to post_path(post), id: "button-show-#{post.id}" do %>
      <%= icon('fa', 'pen') %>
      詳細を見る♡？
    <% end %>
  </li>
</ul>