<div id="<%= dom_id post %>">
  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= post.picture %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= post.kind %>
  </p>

</div>
