<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= post.id %>">
    <%= image_tag post.post_image_url, class: 'card-img-top', size: '600x400' %>
    <div class="card">
        <p class="card-text"><%= post.sendername %></p>
        <p class="card-text"><%= post.body %></p>
      </div>
    </div>
  </div>
</div>