<div class="card">
  <p class="card-text"><%= template.title %></p>
  <p class="card-text"><%= template.body %></p>
  <%= button_to "これにする", new_post_path, { method: :get, params: {tempalate_body: "#{template.body}", character_id: "#{post.character_id}"} } %>
</div>