<% content_for(:title, t('.title')) %>
<section class="text-gray-600 body-font">
  <div class="container my-1 mb-5 mx-auto flex flex-col px-5 justify-center items-center">
    <p class="text-xl"><%= t '.title' %></p>
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
</section>