<% content_for(:title, t('.title')) %>
<section class="text-gray-600 body-font">
  <div class="container my-1 mx-auto flex flex-col px-5 justify-center items-center">
    <%= image_tag '1.png', size: '400x300'  %>
    <p class="text-xl">ツンデレの女の子</p>
    <%= button_to "これにする", new_post_path, { method: :get, params: {character_id: 1}, class: "my-2 btn btn-outline btn-secondary" } %>
    <%= image_tag '2.png', size: '400x300'  %>
    <p class="text-xl">ツンデレの女の子</p>
    <%= button_to "これにする", new_post_path, { method: :get, params: {character_id: 2}, class: "mt-2 btn btn-outline btn-secondary" } %>
  </div>
</section>