<% content_for(:title, t('.title')) %>
<section class="text-gray-600 body-font">
  <div class="container my-1 mx-auto flex flex-col px-5 justify-center items-center">
    <p class="text-xl"><%= t '.title' %></p>
    <% @templates.each do |template| %>
      <%= render partial: 'template_edit', locals: { template: template, post: @post } %>
    <% end %>
  </div>
</section>