<% set_meta_tags title: t('.title') %>
<section class="text-gray-600 body-font">
  <div class="container my-1 mb-5 mx-auto flex flex-col px-5 justify-center items-center">
    <p class="mb-3 text-center text-xl text-black-200 opacity-90"><%= t '.title' %></p>
    <% @templates.each do |template| %>
      <%= render partial: 'template_edit', locals: { template: template, post: @post } %>
    <% end %>
  </div>
</section>